.header{
    width: 100%; 
    height:50px;
    background-color: #d8a528; 
}
.tapbar{
    padding-top:12px;
    float:left;
    color:white;
    width:33%;
}
.font12{
    font-size: 12px;
    color: #d8a528;
    font-family: "phetsarath OT";
}
.font12b{
    font-size: 12px;
    color: black;
    font-family: "phetsarath OT";
}
.font14{
    font-size: 14px;
    color: black;
    font-family: "phetsarath OT";
}
.font16{
    font-size: 16px;
    color: black;
    font-family: "phetsarath OT";
}
.font18{
    font-size: 18px;
    font-family:'Phetsarath OT';
}
.font26{
    font-size: 26px;
    font-family:'Phetsarath OT';
}
.clearfix{
    clear: both;
}

div a:hover{
    color: #d8a528;
    text-decoration: none;
}
.imagelist{
    z-index: 3;
     position: absolute; 
     margin-top: -5px;
}
.monitorsell{
    height: 200px;
    width: 100%; 
    background-color: black;
     color: red;
     font-size: 115px;
     font-family: "Phetsarath OT";
}

